# Provide a comma-separated list of the domain name(s) where Fastlane will be presented
DOMAINS=paypal.com

# Create an application to obtain credentials at https://developer.paypal.com/dashboard/applications/sandbox
PAYPAL_CLIENT_ID=ASE3LIfZIK3x4FgjHIYkefX_ENLNkvDSINVChTW9Utu4-ffvThS24M7z_Uz8joURAd_c5CQ1xw5-Vdlz
PAYPAL_CLIENT_SECRET=EMz_Ug_pFW9okza0R5EZ-idDL0aa3KI3NoiiEaX5wbGw_3wefkW38S0lr26XEc1VuUYFqIBkrR10mEZT

# set if acting on behalf of another merchant
# PAYPAL_MERCHANT_ID=PARTNER_MERCHANT_ID_HERE
# PAYPAL_BN_CODE=BN_CODE_HERE
